<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConstructionAppConnectionString"
             connectionString="Data Source=MDCL_IDEAPAD3;Initial Catalog=ConstructionApp;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
